.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
}

button {
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: black;
  color: white;
}
button:hover {
  cursor: pointer;
}
